<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/_shared/__external/normalize.css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-style.css">
	<script src="/<%= OLSKSharedPageControllerSlug %>/ui-behaviour.js"></script>
	<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

	<script type="text/javascript">
		window.OLSKPublicConstants = function (inputData) {
			return <%- JSON.stringify({
				OLSKSharedPageCurrentLanguage,
			}) %>[inputData];
		};
	</script>
</head>
<body>

<script type="text/javascript">
OSWRootStubBehaviour.LifecyclePageWillLoad()
</script>

<p>
	<strong>OSWStorageOptionsDelegateConnect</strong>
	<span id="TestOSWStorageOptionsDelegateConnect">0</span>
	<span id="TestOSWStorageOptionsDelegateConnectValue">undefined</span>
</p>

<p>
	<strong>OSWRootDelegateRenew</strong>
	<span id="TestOSWRootDelegateRenew">0</span>
</p>

</body>
</html>
