<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/_shared/__external/normalize.css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/<%= OLSKSharedPageControllerSlug %>/__compiled/OLSKStorageWidget.css">
	<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/OLSKStorageWidget.js"></script>
	<script src="/<%= OLSKSharedPageControllerSlug %>/ui-behaviour.js"></script>
</head>
<body>

<h1>Package</h1>

<div id="target"></div>

<script type="text/javascript">
OSWPackageBehaviour.lifecyclePageWillLoad();
</script>

</body>
</html>