<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/_shared/__external/normalize.css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/<%= OLSKSharedPageControllerSlug %>/__compiled/OSWStorageWidget.css">
	<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/OSWStorageWidget.js"></script>
</head>
<body>

<h1>Package</h1>

<script type="text/javascript">
LCHPackageBehaviour.lifecyclePageWillLoad();
</script>

</body>
</html>