<%
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>OLSKCloudFormDispatchStorage</strong>
	<span id="TestOLSKCloudFormDispatchStorage">0</span>
	<span id="TestOLSKCloudFormDispatchStorageData">undefined</span>
</p>

