<%
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>OLSKCloudFormDispatchSubmit</strong>
	<span id="TestOLSKCloudFormDispatchSubmit">0</span>
	<span id="TestOLSKCloudFormDispatchSubmitData">undefined</span>
</p>

