<%
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>OLSKCloudStatusDispatchSyncStart</strong>
	<span id="TestOLSKCloudStatusDispatchSyncStart">0</span>
</p>

<p>
	<strong>OLSKCloudStatusDispatchSyncStop</strong>
	<span id="TestOLSKCloudStatusDispatchSyncStop">0</span>
</p>

<p>
	<strong>OLSKCloudStatusDispatchDisconnect</strong>
	<span id="TestOLSKCloudStatusDispatchDisconnect">0</span>
</p>

